--- 
title: Page for you 
layout: base.njk
pagination:
   data: news
   size: 1
   alias: news
permalink: /{{news.country}}/index.html
---
<a href="/">Home</a>
<a href="/about">about</a>

<div class="container">
   <h1>This is page for you</h1>
   <div class="vibe">Ohhh</div>
   <div class="love">
      ❤️
   </div>
   <ul>
      {% for article in news.articles %}
         <li>
            <h2>
               <a href="{{article.url}}">{{article.title}}</a>
            </h2>
            <span>{{ article.sorce.name}} - <time>{{article.publishedA}} </time></span>
            {{article.title}}
         </li>
         {%endfor%}
      </ul>
</div>
   <script src="/js/vibe.js"></script>